<nav aria-label="breadcrumb" class="bread-nav">
  <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a routerLink="/" (click)="us.toggleSectionsVisibility()">Home</a></li>
      <li class="breadcrumb-item">Courses</li>
      <li class="breadcrumb-item"><a routerLink="/courses/cbse/class-nine" >Class 9</a></li>
      <li class="breadcrumb-item"><a routerLink="/courses/cbse/class-nine/class-nine-study-materials">Study Materials</a></li>
      <li class="breadcrumb-item">Class 9 Science NCERT Book</li>
  </ol>
</nav>

<div class="container">
  <h1>NCERT Book for Class 9 Science  - View all chapters in PDF</h1>
  <img class="img-responsive" src="../../../../../assets/img/class_9_ncert_science.jpg"><br/><br/>
   <p><strong>Links to view all the chapters of Class 10 Science NCERT Book are provided below:</strong></p>

  <p><strong>Chapter 1: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-1.pdf')">Matter in Our Surroundings</a></strong></p>
  <p><strong>Chapter 2: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-2.pdf')">Is Matter Around Us Pure</a></strong></p>
  <p><strong>Chapter 3: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-3.pdf')">Atoms and Molecules</a></strong></p>
  <p><strong>Chapter 4: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-4.pdf')">Structure of the Atom</a></strong></p>
  <p><strong>Chapter 5: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-5.pdf')">The Fundamental Unit of Life</a></strong></p>
  <p><strong>Chapter 6: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-6.pdf')">Tissues</a></strong></p>
  <p><strong>Chapter 7: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-7.pdf')">Diversity in Living Organisms</a></strong></p>
  <p><strong>Chapter 8: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-8.pdf')">Motion</a></strong></p>
  <p><strong>Chapter 9: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-9.pdf')">Force and Laws of Motion</a></strong></p>
  <p><strong>Chapter 10: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-10.pdf')">Gravitation</a></strong></p>
  <p><strong>Chapter 11: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-11.pdf')">Work and Energy</a></strong></p>
  <p><strong>Chapter 12: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-12.pdf')">Sound</a></strong></p>
  <p><strong>Chapter 13: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-13.pdf')">Why Do We Fall Ill</a></strong></p>
  <p><strong>Chapter 14: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-14.pdf')">Natural Resources</a></strong></p>
  <p><strong>Chapter 15: <a (click)="openPdf('../../../../../assets/pdfjs/class-9/science/ncert_book/cbse-class-9-science-ncert-book-chapter-15.pdf')">Improvement in Food Resources</a></strong></p>




 <div id="viewer" style="height:120vh; width:100%;" [hidden]="!isPdfLoaded && !ifanotherlinkclicked" style="height: 85vh;">
  <ng2-pdfjs-viewer #externalPdfViewer [print]='false' [download]='false' [openFile]='false' [viewBookmark]='false' [externalWindow]='false' [startPrint]='false'></ng2-pdfjs-viewer>
</div>

  </div>
