<nav aria-label="breadcrumb" class="bread-nav">
  <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a routerLink="/" (click)="us.toggleSectionsVisibility()">Home</a></li>
      <li class="breadcrumb-item">Courses</li>
      <li class="breadcrumb-item">Class 10</li>
  </ol>
</nav>
<div class="all-center all-subject bg-pink-dark">
  <div class="container">
      <div class="row p-1r">
          <div class="col-lg-12 text-center">


                  <h1 class="section-heading">CBSE Class 10</h1>

          </div>
          <div style="margin-bottom: 50px; padding-left: 10px; padding-right: 10px">

                <p style="text-align: justify;">Class 10th is the key to bright future ahead. This is the time when students write their first board examinations. Performance in Board examinations support you in chasing your dreams of becoming an Engineer, lawyer or a Chartered Accountant. Being one of the important stages of a student’s life, Class 10th Boards require lot of dedication and practice. Results are importance from class 11 stream selection. Accordingly, a strategic study plan is necessary to achieve your goals.</p>

                <p style="text-align: justify;">GoMerit Class believes in enhancing your learning experience by bringing up innovative and fun ways of learning. We provide our students with best-curated study materials affiliated to CBSE norms. Our experienced faculty team focuses on each student and regularly conduct a detailed analysis of a student’s progress by weekly and monthly tests. A step-by-step explanation of topics is given to the students so that they can grasp things easily. CBSE board examination pattern is followed to make students well-prepared for their forthcoming examinations. Important formulae and tricks are also given to our students so that they can solve the questions easily and quickly.</p>

          </div>
          <div class="col-lg-12">
              <div class="tab-contents" id="nav-tabContent">
              <div class="tab-pane course_nav_tab fade show active" id="class-course" role="tabpanel" aria-labelledby="nav-train-tab">
                  <div class="row">




                          <!-- <div class="col-lg-3">
                              <a class="course-card card border-0" href="/tuition-for-cbse-class-9-english/">
                                  <img class="card-img" src="/media/static/program/images/English_AHAgteY.jpg" alt="Card image">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">English</h5>
                                  </div>
                              </a>
                          </div>
 -->

                          <!-- <div class="col-md-2"></div> -->
                          <div class="col-md-4">
                              <a class="course-card card border-0" [routerLink]="'class-ten-mathematics'">
                                  <img class="card-img" src="../../../../assets/img/9th_maths_logo.jpg" alt="Card image">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">Mathematics</h5>
                                  </div>
                              </a>
                          </div>
                          <div class="col-md-4 scienceDiv">
                              <a class="course-card card border-0" [routerLink]="'class-ten-science'">
                                  <img class="card-img" src="../../../../assets/img/9th_science_logo.jpg" alt="Card image">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">Science</h5>
                                  </div>
                              </a>
                          </div>

                          <div class="col-md-4 scienceDiv">
                            <a class="course-card card border-0" [routerLink]="'class-ten-study-materials'">
                              <img class="card-img" src="../../../../assets/img/Study_Material_Logo_10.png" height="265px" alt="Card image">
                              <div class="card-img-overlay">
                                  <h5 class="card-title">Study Materials</h5>
                              </div>
                          </a>
                          </div>


                          <!-- <div class="col-md-2"></div> -->



                          <!-- <div class="col-lg-3">
                              <a class="course-card card border-0" href="/tuition-for-cbse-class-9-social-studies/">
                                  <img class="card-img" src="/media/static/program/images/ss_BU8cuLD.jpg" alt="Card image">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">SST</h5>
                                  </div>
                              </a>
                          </div> -->

                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
</div>
