<nav aria-label="breadcrumb" class="bread-nav">
  <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a routerLink="/" (click)="us.toggleSectionsVisibility();">Home</a></li>
      <li class="breadcrumb-item">Gallery</li>
  </ol>
</nav>


      <div class="container portfolio">

            <div class="section-title">
              <h2>Gallery</h2>
              <p></p>
             </div>

             <div class="row">
              <div class="col-lg-12">
                <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-app">Infrastructure</li>
                  <li data-filter=".filter-card">Professors</li>
                  <li data-filter=".filter-web">Students</li>
                </ul>
              </div>
            </div>

            <div class="row portfolio-container">

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                 <a href="../../assets/img/students_pics/P_20160211_154105.jpg" data-gall="gall1" class="venobox vbox-item" title="Students">
                  <img src="../../assets/img/students_pics/P_20160211_154105.jpg" class="img-fluid" alt="">
                </a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                 <a  href="../../assets/img/students_pics/P_20160211_154422.jpg" data-gall="gall1" class="venobox vbox-item" title="Students">
                  <img src="../../assets/img/students_pics/P_20160211_154422.jpg" class="img-fluid" alt="">
                </a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                 <a  href="../../assets/img/students_pics/P_20160320_165101_BF_1.jpg" data-gall="gall1" class="venobox vbox-item" title="Students"><img src="../../assets/img/students_pics/P_20160320_165101_BF_1.jpg" class="img-fluid" alt=""></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                 <a  href="../../assets/img/students_pics/Group_Photo_3.jpeg" data-gall="gall1" class="venobox vbox-item" title="Students"><img src="../../assets/img/students_pics/Group_Photo_3.jpeg" class="img-fluid" alt=""></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                 <a  href="../../assets/img/students_pics/Group_Photo_5.jpeg" data-gall="gall1" class="venobox vbox-item" title="Students"><img src="../../assets/img/students_pics/Group_Photo_5.jpeg" class="img-fluid" alt=""></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                <a  href="../../assets/img/students_pics/Group_Photo_2.jpeg" data-gall="gall1" class="venobox vbox-item" title="Students"><img src="../../assets/img/students_pics/Group_Photo_2.jpeg" class="img-fluid" alt=""></a>
                </div>
              </div>






            </div>

      </div>

