

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a routerLink= "/admin/admin-dashboard" class="list-group-item active"><span class="fa fa-fw fa-dashboard"></span> Dashboard</a>
        <a routerLink= "/admin/admin-dashboard/online-lecture" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Schedule Live Lecture</a>
        <a routerLink="/admin/admin-login" (click)="logout();" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Logout</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button id="menu-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>






      </nav>


<div style="padding: 5px;">
  <h1 class="page-header">Dashboard</h1>
  <hr/>
<h3>Welcome Admin !</h3>


      <section class="row content">

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
              <div class="inner">
                  <h3>
                      {{studentscount}}
                  </h3>
                  <p>
                      Student Registrations
                  </p>
              </div>
              <div class="icon">
                  <i class="fa fa-user"></i>
              </div>

          </div>
      </div>

      <div class="col-lg-3 col-xs-6" style="float: left;">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    {{lecturesscheduledcount}}
                </h3>
                <p>
                    Lectures Scheduled
                </p>
            </div>
            <div class="icon">
                <i class="fas fa-chalkboard-teacher"></i>
            </div>

        </div>
    </div>


      </section>


    </div>
    </div>
  </div>
