<nav aria-label="breadcrumb" class="bread-nav">
  <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a routerLink="/" (click)="us.toggleSectionsVisibility();" >Home</a></li>
      <li class="breadcrumb-item">Forgot Password</li>
  </ol>
</nav>
<div class="container">

<h2 class="section-title">Forgot your password ?</h2>
<div class="steps">
  <div class="rfloatL"><div class="rfrontback_active rfloatL"></div><div class="rtext_active f16 rfloatL step1">1. Enter your email ID</div><div class="rpasshelpSprite rback_active_inactive rfloatL"></div></div>
  <div class="rfloatL f16"><div class="rtext f16 rfloatL step2">2. Confirm it's you</div><div class="rpasshelpSprite rback_inactive_inactive rfloatL"></div></div>
  <div class="rfloatL f16"><div class="rtext f16 rfloatL step3">3. Set your new password</div><div class="rfrontback rfloatL"></div></div>
  <div class="rclear"></div>
</div>


  <div class="col-lg-8 col-sm-8 col-12" style="max-width: 380px; text-align: center; margin: 0 auto; margin-bottom: 100px; top: 80px;">
    <div class="box">
      <div class="col-lg-12 col-sm-12 col-12 user-img">
        <img  src="../../assets/img/man.png" style="margin-top: -68px;">
      </div>
      <div class="col-lg-12 col-sm-12 col-12 user-name">
        <h2>Password Recovery</h2>
      </div>
      <div class="col-lg-12 col-sm-12 col-12 form-input">
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="proceedToStepTwo()">
          <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
          <input type="email" formControlName="student_email_id" placeholder="Enter your registered email address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" [ngClass]="{ 'is-invalid': submittedproceedbtn && f.student_email_id.errors , 'is-valid': submittedproceedbtn || f.student_email_id.valid }" required />
          <div *ngIf="submittedproceedbtn &&  f.student_email_id?.errors" class="invalid-feedback">
            <div  *ngIf="f.student_email_id.errors && f.student_email_id.errors.required">
              Email is required
          </div>
          <div  *ngIf="f.student_email_id.errors && f.student_email_id.errors.pattern">
              Email is invalid
          </div>
          </div>
          </div>
          </div>
          <!-- <a  [routerLink]="['/forgot-password/verify-email-otp']" (click)="closeModal();" type="submit" style="margin-bottom: 10px;" class="btn btn-success">Proceed</a> -->
          <button [disabled]="loadingforforgotpassword" style="margin-bottom: 10px;" type="submit" class="btn btn-success">
            <span *ngIf="loadingforforgotpassword" class="spinner-border spinner-border-sm mr-1"></span>
            Proceed</button>
       </form>
      </div>
      </div>
    </div>
  </div>
