.padt15 {
  padding-top: 15px;
}
.f16 {
  font-size: 16px;
}
.rbold {
  font-weight: bold;
}
.ralignC {
  text-align: center;
}
.steps {
  margin: 20px auto;
  height: 39px;
  width: 780px;
}
.rfloatL {
  float: left;
}
.rfrontback_active {
  background-image: url(../../assets/img/activetab_tile.png);
  height: 39px;
  width: 10px;
}
.rtext_active {
  background-image: url(../../assets/img/activetab_tile.png);
  height: 39px;
  padding: 8px 5px 0px 5px;
  font-weight: bold;
}


.rback_active_inactive {
  background-position: -28px -17px;
  height: 39px;
  width: 26px;
}
.rpasshelpSprite {
  background-image: url(../../assets/img/passsprite.png);
  background-repeat: no-repeat;
  line-height: 0px;
  font-size: 0px;
}

.rtext {
  background-image: url(../../assets/img/inactivetab_tile.png);
  height: 39px;
  padding: 8px 10px 0px 10px;
}
.step1 {
  width: 200px;
}
.step2 {
  width: 180px;
}
.step3 {
  width: 265px;
}
.rback_inactive_inactive {
  background-position: -67px -17px;
  height: 39px;
  width: 26px;
}

.rfrontback {
  background-image: url(../../assets/img/inactivetab_tile.png);
  height: 39px;
  width: 10px;
}
.rclear {
    clear: both;
    display: block;
    font-size: 0px;
    line-height: 0px;
    height: 1px;
    overflow: hidden;
}

.rback_active_inactive {
  background-position: -28px -17px;
  height: 39px;
  width: 26px;
}
.rpasshelpSprite {
  background-image: url(../../assets/img/passsprite.png);
  background-repeat: no-repeat;
  line-height: 0px;
  font-size: 0px;
}
.box {

    width: 117%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

