<nav aria-label="breadcrumb" class="bread-nav">
  <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a routerLink="/" (click)="us.toggleSectionsVisibility()">Home</a></li>
      <li class="breadcrumb-item">Courses</li>
      <li class="breadcrumb-item">Class 9</li>
  </ol>
</nav>
<div class="all-center all-subject bg-pink-dark" style="margin-top: -16px;">
  <div class="container">
      <div class="row p-1r">
          <div class="col-lg-12 text-center">


                  <h1 class="section-heading">CBSE Class 9</h1>

          </div>
          <div style="margin-bottom: 50px; padding-left: 10px; padding-right: 10px">
              <!-- <section> -->
<p style="text-align: justify;">Class 9&nbsp;is an important stage where a student needs to focus on his/her subjects as they form a base for higher classes. The whole curriculum is changed and is completely different from Class 8. Here students get advanced Mathematics where topics like Algebra, Geometry and Mensuration are highly focused on. In Science, students have Physics, Chemistry and Biology as different subjects. Thus, the syllabus gets more complicated and it is very important for students to keep their concepts clear.</p>

<p style="text-align: justify;">We at GoMerit help students to prepare for Class 9 by our expert faculty. We provide students with the best study material based on CBSE norms. Here students are well-prepared for their upcoming examinations and are taught accordingly. Each topic is revised thoroughly so that it lasts in the student’s memory for long and they can score well in their examinations. Weekly, monthly and quarterly tests are conducted to keep a check on the student’s performance. We aim at focusing on each individual and enhance their learning experience.</p>
<!-- </section> -->
          </div>
          <div class="col-lg-12">
              <div class="tab-contents" id="nav-tabContent">
              <div class="tab-pane course_nav_tab fade show active" id="class-course" role="tabpanel" aria-labelledby="nav-train-tab">
                  <div class="row">




                          <!-- <div class="col-lg-3">
                              <a class="course-card card border-0" href="/tuition-for-cbse-class-9-english/">
                                  <img class="card-img" src="/media/static/program/images/English_AHAgteY.jpg" alt="Card image">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">English</h5>
                                  </div>
                              </a>
                          </div>
 -->

                          <!-- <div class="col-md-2"></div> -->
                          <div class="col-md-4">
                              <a class="course-card card border-0" [routerLink]="'class-nine-mathematics'">
                                  <img class="card-img" src="../../../../assets/img/9th_maths_logo.jpg" alt="Maths Logo">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">Mathematics</h5>
                                  </div>
                              </a>
                          </div>



                          <div class="col-md-4 scienceDiv">
                              <a class="course-card card border-0" [routerLink]="'class-nine-science'">
                                  <img class="card-img" src="../../../../assets/img/9th_science_logo.jpg" alt="Science Logo">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">Science</h5>
                                  </div>
                              </a>
                          </div>

                          <div class="col-md-4 scienceDiv">
                            <a class="course-card card border-0" [routerLink]="'class-nine-study-materials'">
                              <img class="card-img" src="../../../../assets/img/Study_Material_Logo_10.png" height="265px" alt="Study Materials Logo">
                              <div class="card-img-overlay">
                                  <h5 class="card-title">Study Materials</h5>
                              </div>
                          </a>
                          </div>


                          <!-- <div class="col-lg-3">
                              <a class="course-card card border-0" href="/tuition-for-cbse-class-9-social-studies/">
                                  <img class="card-img" src="/media/static/program/images/ss_BU8cuLD.jpg" alt="Card image">
                                  <div class="card-img-overlay">
                                      <h5 class="card-title">SST</h5>
                                  </div>
                              </a>
                          </div> -->

                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
</div>
